html{
	background-color: ghostwhite;
}
body{
	background-color: sandybrowno;
}
.hah{
	   	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	cursor: pointer;
	width: 100%;
	border-radius: 20%;
	padding: 3px;
	transition: 0.5s;
}

img:hover{
	transform: scale(1.1);
}

h2{
	margin: auto;
}

h2:hover{
	letter-spacing: 3px;
}


.kelompok{
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.navgar{
	background-color: transparent;
	padding: 5px 10px 20px;
	text-align: center;
	border: 1px red;
	border-radius: 5px 5px 0 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.pilihan{
    	background-color: darkgrey;
    	padding: 15px 0;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
span{
	align-content: center;
}
.yangitu{
	margin: 0;
	padding: 15px;
    	color: white;
    	border: none;
    	border-radius: 4px;
    	cursor: pointer;
    	font-size: 16px;
    	font-weight: bold;
    	transition: 0.5s;
}
a{
	color: navy;
	text-decoration: none;
	transition: 0.5s;
}

a:hover{
	text-decoration: underline;
	letter-spacing: 1px;
}
.yangitu:hover{
	background-color: black;
}
.aktif{
	background-color: skyblue;
}

.klik {
    color: white;
    border: none;
    pointer-events: none; 
    cursor: default;
    
}
.kemanaaja-bawah {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.kemanaaja-bawah a {
	font-family: "Helvetica", sans-serif;
    color: blue;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.kemanaaja:hover .kemanaaja-bawah {
    display: block;
}
.halu{
	background-color: whitesmpilihan;
	padding: 20px;
	border-left: 1px navy;
	border-right: 1px navy;
   	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.up{
	margin: 0 0 3px;
	transition: 0.5s;
	font-size: 40px;
	font-weight: bold;
	   	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sip{
	width: 10px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 2px solid navy;
	transition-duration: 0.2s;
}

@media only screen and (max-width: 800px){
	.kelompok{
		width: 100%;
	}
}